* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 167, 159);
}

main {
  margin: 0rem 3rem 0rem 3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Odibee Sans", cursive;
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-family: "Odibee Sans", cursive;
  font-size: 2.3rem;
  color: white;
  text-align: center;
}

h3 {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

p {
  font-size: 1rem;
  font-family: "GFS Neohellenic", sans-serif;
}

@media (min-width: 900px) {
  main {
    margin: 0rem 20rem 0rem 20rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
