@import "https://unpkg.com/open-props";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brown-8);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Odibee Sans", cursive;
  font-size: var(--font-size-8);
  text-align: center;
}

h2 {
  font-family: "Odibee Sans", cursive;
  font-size: 2.3rem;
  color: white;
  text-align: center;
}

h3 {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: var(--font-size-4);
  font-weight: 100;
}

h5 {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: var(--font-size-4);
  font-weight: 100;
}

p {
  font-size: var(--font-size-1);
  font-family: "GFS Neohellenic", sans-serif;
}

@media (min-width: 900px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: var(--font-size-5);
  }

  p {
    font-size: var(--font-size-4);
  }
  h5 {
    font-size: var(--font-size-6);
  }
}
