---
import Baselayout from "../layouts/Baselayout.astro"
import Pil from "../components/Pil.astro"
import Citat from "../components/Citat.astro"
import Faktaboks from "../components/Faktaboks.astro"
import Faktastock from "../components/Faktastock.astro"
import Landingphoto from "../components/Landingphoto.astro"
import "../styles/style.css"
import Liste from "../components/Liste.astro"
import Tekst from "../components/Tekst.astro"
import Boks from "../components/Boks.astro"
---

<Baselayout>
<h1>hej</h1>
<Boks box="box1">Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</Boks>
<Boks box="box1">Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</Boks>
<Boks box="box1">Stock-fotos har eksisteret i mange år.
Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</Boks>
<Landingphoto/>
<Liste/>
<Faktastock/>
<Tekst/>
<Faktaboks/>
<Boks box="box2">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</Boks>
<Boks box="box2">Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</Boks>
<Citat>Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. 
Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.</Citat>
<Citat>Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.</Citat>
</Baselayout> 
