---
import Baselayout from "../layouts/Baselayout.astro"
import Pil from "../components/Pil.astro"
import Citat from "../components/Citat.astro"
import Faktaboks from "../components/Faktaboks.astro"
import Landingphoto from "../components/Landingphoto.astro"
import "../styles/style.css"
import Liste from "../components/Liste.astro"
import Tekst from "../components/Tekst.astro"


---

<Baselayout>
<h1>hej</h1>

</Baselayout> 
