---
import type { GetStaticPaths } from "astro";
import Baselayout from "../layouts/Baselayout.astro"
import Pil from "../components/Pil.astro"
import Citat from "../components/Citat.astro"
import Faktaboks from "../components/Faktaboks.astro"
import Faktastock from "../components/Faktastock.astro"
import Landingphoto from "../components/Landingphoto.astro"
import "../styles/style.css"
import Liste from "../components/Liste.astro"
import Tekst from "../components/Tekst.astro"
import Boks from "../components/Boks.astro"
import Filmrulle from "../components/Filmrulle.astro"
---

<Baselayout>

<Landingphoto {img}="img/pierre.webp" >UPERFEKT ER PERFEKT</Landingphoto> 
<Tekst >  <h3>Pierre Falke. Du ved formentligt ikke hvem han er. </h3>
    <p> Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. 

Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. 

Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde. </p> 
 </Tekst>
 <Liste {img}="img/lomo-diana-f.webp"> <h5>Det svarer til én fotolicens hvert 16. sekund.</h5> <br> <h5> Pierre sælger 2 millioner fotos om året.<h5/> <br> <h5>Du ser hans fotos ca. 2 gange om dagen</h5></Liste> 
<Faktastock/>
 <Boks box="box1">Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</Boks>
<Boks box="box1">Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</Boks>
<Boks box="box1">Stock-fotos har eksisteret i mange år.
Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</Boks>
<Landingphoto {img}="img/lomo-smena.webp"> PIERRES BERØMMELSE</Landingphoto>
<Liste> <p>Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden. </p> <p>Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil. </p> <p>På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</p> <p>Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</p> <p>Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.</p></Liste>

<Faktaboks/>
<Boks box="box2">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</Boks>
<Boks box="box2">Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</Boks>

<Citat>Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. 
Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.</Citat>

<Citat>Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.</Citat>
</Baselayout> 


<!-- <script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  </script> -->