---
const { img } = Astro.props;
---

<section>

<div class="nyt_emne">
     <h2 class="overskrift"><slot /> </h2> 
 <img class="baggrundsbillede" src={img} alt="">
</div>



</section>

<style>
.nyt_emne {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  .overskrift {
    grid-column: 2/5;
    grid-row: 2/3;
    z-index: 10;
  }

  .baggrundsbillede {
    grid-column: 1/6;
    grid-row: 1/4;
  }

  h2 {
    color: white;
    text-shadow: 5px 5px rgb(0, 0, 0);
  }

  /* Glitch animista animation på tekst */


</style>


<script>
   import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  //   gsap.to(".overskrift", {
  //     x: 500,
  //     scale: 2,
  //     scrollTrigger: {
  //       trigger: ".nyt_emne",
  //       start: "center center", 
  //       end: "bottom center",
  //       markers: true,
  //       scrub: true,
  //     }, // start the animation when ".box" enters the viewport (once)
  //   });

  //   gsap.from(".overskrift", {
  //     x: 500,
  //     scale: 2,
  //     duration: 0.5,
  //     opacity: 0.5,
  //     ease: "elastic.out(1, 0.5)",
  //     scrollTrigger: {
  //       trigger: ".nyt_emne",
  //       start: "start 80%",
  //       end: "bottom 20%",
  //       toggleActions: "play pause resume reset",
  //     }, // start the animation when ".box" enters the viewport (once)
  //   });

        gsap.from(".overskrift", {
      yPercent: 500,

      duration: 0.5,
      opacity: 0,
      stagger: 0.1,
scale: -1,


      scrollTrigger: {
        trigger: ".ball-3",
        start: "start 80",
        end: "bottom 20%",
        scrub: true,
      
      }, // start the animation when ".box" enters the viewport (once)
    });


  
  

  // import { gsap } from "gsap";
  // import { ScrollTrigger } from "gsap/ScrollTrigger";
  // gsap.registerPlugin(ScrollTrigger);

   
  // gsap.to(".overskrift", {
  //   scrollTrigger: {
  //     trigger: ".nyt_emne",
  //     start: "start",
  //     toggleClass: "text-flicker-out-glow",
  
  //   },
  // })

</script>