---

---

<section>

    <img class="svg_quote" src="img/startcitat.svg" alt="startcitat">
    <h3> <slot /> </h3>
        <img class="svg_quote" src="img/slutcitat.svg" alt="slutcitat">


     
</section>

<style>


.svg_quote{
        max-width: 40px;

    }

      section{
      
        display: flex;
        flex-wrap: wrap;

    overflow: hidden;
    }
   

@media (min-width: 600px) {
    
    img{
        max-width: 60px;

    }

   

    
}
   


</style>