---

---


 <h2>HVAD ER STOCK-FOTOS?</h2>
<div class="stockfotos">
<img class="stock1" src="public/img/sammenhold.webp" alt="Hænder der holder sammen">
<img class="stock2" src="public/img/arbejde-2.webp" alt="To kvinder kigger på computer">
<img class="stock3" src="public/img/apoteket.webp" alt="En kvinde er på apoteket">
<img class="stock4" src="public/img/godt-arbejde.webp" alt="To mennesker giver high-five">
<img class="stock5" src="public/img/arbejde.webp" alt="Gruppe planlægger på computer">
</div>
 


<style>
    @media (min-width: 900px) {

.stockfotos {
    padding: 3rem;
    margin: 0rem 5rem 5rem 5rem;
}
}


/* STOCKFOTOS LAYOUT */
.stockfotos {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: 10px;
  }

  .stock1 {
    grid-column: 4/9;
    grid-row: 7/11;
  }

  .stock2 {
    grid-column: 7/12;
    grid-row: 5/8;
  }

  .stock3 {
    grid-column: 11/18;
    grid-row: 3/7;
  }

 .stock4 {
    grid-column: 8/14;
    grid-row: 8/11;
  }

  .stock5 {
    grid-column: 13/20;
    grid-row: 7/10;
  }


  @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


</style>




<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

    gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
    //GSAP KODE HER

    gsap.to(".stockfotos", {
      scrollTrigger: {
        trigger: ".stockfotos",
        start: "start ",
        end: "bottom  ",
        //   scrub: true,
        markers: true,
      },
    });

    gsap.to(".stock1", {
      scrollTrigger: {
        trigger: ".stock1",
        start: "start ",
        end: "bottom center",
        //   scrub: true,
        markers: true,
      },
    });

    gsap.from(".stock2", {
      yPercent: 60,
      opacity: 0,
      duration: 0.5,
      stagger: 0.1,
      scrollTrigger: {
        trigger: ".stock2",
        start: "start 80%",
        end: "bottom 20%",
        scrub: true,
        pin: true,
        markers: true,
      },
    });

  });

  </script> 