---
---

<p>Udklip fra "Lidt i fem":</p>
<div class="scroll-container">
    <img src="img/glitch.webp" alt="Glicth på vandet">
    <img src="img/lomo-smena-17.webp" alt="sløret billede">
    <img src="img/bil-smidt-ud.webp" alt="Bil smidt ud">
    <img src="img/glitch.webp" alt="Bil smidt ud">
    <img src="img/naaede-ikke-hjem.webp" alt="Mand sover">
</div>

<style>
   div.scroll-container {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
  padding: 0.5rem;
}

div.scroll-container img {
padding: 0.5rem;
  height: 36vw;
}

 @media (min-width: 1200px) {

 div.scroll-container {
padding: 1rem;
}

div.scroll-container img {
padding: 1rem;
}
}

  </style>