---
---

<article>
  <div class="gallery">
<img src="img/bil-smidt-ud.webp" alt="Bil smidt ud">
<img src="img/glitch.webp" alt="Bil smidt ud">
<img src="img/naaede-ikke-hjem.webp" alt="Mand sover">
<img src="img/lomo-smena-17.webp" alt="sløret billede">
<img src="img/glitch.webp" alt="Bil smidt ud">
  </div>
</article>

<style>

  .gallery img {
    width: 20vw;
    height: auto;
    margin-right: 10px;
  }

  @media only screen and (max-width: 800px) {
    .gallery-container {
      width: 100%;
      overflow-x: scroll;
    }

    .gallery img {
      width: 50vw;
      height: auto;
      margin-right: 10px;
    }
  }

  </style>