---
---

<article>
  <div class="gallery">

  </div>
</article>

<style>

  .gallery img {
    width: 20vw;
    height: auto;
    margin-right: 10px;
  }

  @media only screen and (max-width: 800px) {
    .gallery-container {
      width: 100%;
      overflow-x: scroll;
    }

    .gallery img {
      width: 50vw;
      height: auto;
      margin-right: 10px;
    }
  }

  </style>