---
const {img} = Astro.props
---

<section>
    <img src={img} alt="lomo">
 <div class="liste_facts">
<slot /> 
</div>


</section>

<style>

    img{
        opacity: 20%;
    }

.liste_facts{
    padding: 4rem 20rem 4rem 20rem;
}

@media (min-width: 900px) {



} 

</style>

