

<section>
    <div class="liste_facts">
<slot /> 
</div>
</section>

<style>
.liste_facts{
    display: grid;
gap: 1rem;
text-align: center;
margin-top: 1rem;
background-image: url("img/billigt-objektiv.webp");
}


</style>

